

html{ 
    font-size: 16px;
    display: block;
}
body {
    font-family: 'Noto Sans KR', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 1rem; /*상대 단위, 최상위 요소(html)비례*/
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    word-break: keep-all;  /*한글 텍스트가 콘텐츠 밖으로 오버플로할 때 단어를 끊지 않는다.  */
    background-color: #f4efe9;
}
div{ display: block;} 





